/.Xauthority
/.ansible
/.bash_logout
/.bashrc
/.cache
/.cloud-warnings.skip
/.config
/.dotnet
/.exit
/.gnupg
/.local
/.mozilla
/.pki
/.profile
/.python_history
/.ssh
/.thinclient_drives
/.vimrc
/.virtualenvs
/.vscode
/.vscode-server
/.wget-hsts
/.xorgxrdp.10.log
/.xsession-errors
/Desktop
/aaa.yml
/dynamic_inv
/environment
/files
/nested
/snap
/textfsm